html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.fullscreen-container {
  position: fixed;
  inset: 0;
  display: flex;
}

.fullscreen-image {
  position: absolute;
  inset: 0;
  object-fit: cover;
}
